# Môi trường chạy (development | production)
NODE_ENV=production

# Các domain cho phép truy cập (cách nhau bằng dấu phẩy)
ALLOWED_ORIGINS=http://localhost:3000

# Cấu hình Port
PORT=3000

# Cấu hình Facebook App (Lấy từ developers.facebook.com → Settings → Basic)
FB_APP_ID=754532870834472
FB_APP_SECRET=9136b808d22ab7c1669b1fb1af2d0294
FB_REDIRECT_URI=http://localhost:3000/api/v1/auth/callback

# Cấu hình Gemini AI (Lấy từ aistudio.google.com → Get API Key)
GEMINI_API_KEY=AIzaSyCzNqnxlIqitFgQ75htQS0F5TQMJLXpZWE

# Cấu hình mã hoá DB (Aes-256) - Buộc phải đủ 32 ký tự
ENCRYPTION_KEY="FB_AUTOPOSTER_DEFAULT_KEY_32B_!!!"
